# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea/

# Environment files
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Test output
tests/test_output/
tests/output/
tests/dummy_dir/

# HTML output
diarios_html/
*.html

# Salidas del scraper
diputados.csv

# Coverage reports
htmlcov/
.coverage
.cache

# Logs and temp
*.log
*.tmp

# OS-specific
.DS_Store
Thumbs.db

# VSCode settings (if used)
.vscode/

# Python virtual environment
congreso_scraper/lib/
congreso_scraper/include/
congreso_scraper/bin/

#archivos pickle
*.pickle

# Informes de cobertura
htmlcov/
.coverage
coverage.xml
.cache/