# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea/

# Environment files
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Test output
tests/test_output/
tests/output/
tests/dummy_dir/

# HTML output
diarios_html/
*.html

# Scraper outputs
*.csv
*.log
*.tmp
*.pickle
*.bak
*~

# Fake data
fake/

# Coverage reports
htmlcov/
.coverage
.cache
coverage.xml

# Editor config files
.vscode/

# Python virtual environment (manual install)
congreso_scraper/lib/
congreso_scraper/include/
congreso_scraper/bin/

# OS-specific
.DS_Store
Thumbs.db
